<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\Python\python.exe"
                  arguments="-m gunicorn app.main:app --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --workers=4 --timeout 600 --access-logfile - --error-logfile - --log-level debug"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\python.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot" />
        <environmentVariable name="PATH" value="%PATH%;%home%\Python;%home%\Python\Scripts" />
        <environmentVariable name="WEBSITES_PORT" value="8000" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 