<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python39\python.exe|D:\Python39\Scripts\gunicorn.exe --bind=0.0.0.0:8000 --chdir D:\home\site\wwwroot app.main:app" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <httpPlatform processPath="D:\Python39\python.exe"
                  arguments="-m gunicorn --bind=0.0.0.0:8000 app.main:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="PATH" value="D:\Python39;D:\Python39\Scripts;%PATH%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 